

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto-bold.eot');
    src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff'),
         url('../fonts/roboto-bold.ttf') format('truetype'),
         url('../fonts/roboto-bold.svg#roboto-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto-light.eot');
    src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light.woff2') format('woff2'),
         url('../fonts/roboto-light.woff') format('woff'),
         url('../fonts/roboto-light.ttf') format('truetype'),
         url('../fonts/roboto-light.svg#roboto-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype'),
         url('../fonts/roboto-regular.svg#roboto-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1100px;
	text-align: center;
	font-family: 'roboto-regular';
	overflow-x: hidden;
	color: #472275;
}
a{
	text-decoration: none;
	color: #472275;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	background-color: #FFCECE !important;
	box-shadow: 0 1px 2px rgba(180, 14, 14, 0.57);
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'roboto-bold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1090px;
	display: inline-block;

}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}

.b-0{
	position: relative;
}
	
	.b-0 .logo{
  		padding: 5px 5px 3px 10px;
	}

	.b-0 a{
		border: 3px solid #76d9dd;
		margin-top: 21px;	
		color: #4d4d4d;
	}

	.b-0 a:hover{
		border: 3px solid #a272b8;
		color: #a272b8;
	}

	.b-0 a:active{
		margin-top: 23px;
	}

	.button{
		text-transform: uppercase;
		font-size: 18px;
		border-radius: 45px;
		display: inline-block;		
		padding: 12px 47px 11px 45px;

	}

.b-1{
	position: relative;
	background: url('../i/back-1.jpg') 50%;
	background-size: cover;
	min-height: 770px;
}

	.b-1 .image{
		position: relative;
	}

		.b-1 .image .heart{
			background-image: url("../i/heart.png");
			width: 421px;
			height: 395px;
			position: absolute;
	  		left: 58px;
	  		top: 202px;
	  		z-index: 10;
		}

			.b-1 .image .heart p{
				margin-top: 79px;
	  			margin-left: 49px;
				font-size: 17px;
				text-align: center;
				width: 330px;
				color: #ffffff;
				line-height: 31px;
			}
	
			.b-1 .image .heart span{
				font-family: "roboto-bold"
			}


		.b-1 .image .blue-left{
			background-image: url('../i/b-1/blue-1.png');
			width: 1212px;
			height: 154px;
			position: absolute;
  			left: -420px;
  			top: 416px;
  			z-index: 100;
		}

			.b-1 .image .blue-left h3{
				font-size: 28px;
				color: #fff;
				text-align: left;
				margin-top: 60px;
				margin-right: 280px;
				width: 490px;
			}

		.b-1 .image .yellow-left{
			background-image: url('../i/b-1/yellow-1.png');
			position: absolute;
			width: 437px;
			height: 468px;
			top: 289px;
  			left: -419px;
  			z-index: 150;
		}

		.b-1 .image .red-left{
			background-image: url('../i/b-1/red-1.png');
			position: absolute;
			width: 615px;
			height: 356px;
			z-index: 200;
			top: 400px;
  			left: -419px;
		}

		.b-1 .image .yellow-right{
			background-image: url('../i/b-1/yellow-2.png');
			position: absolute;
			width: 996px;
			height: 648px;
			top: 5px;
  			left: 511px;
  			z-index: 20;
		}

		.b-1 .image .red-right{
			background-image: url('../i/b-1/red-2.png');
			position: absolute;
			width: 1192px;
			height: 524px;
			z-index: 30;
  			top: 228px;
  			left: 316px;
		}

		.b-1 .image .blue-right{
			background-image: url('../i/b-1/blue-2.png');
			position: absolute;
			width: 1070px;
			height: 313px;
  			left: 432px;
  			top: 200px;
  			z-index: 25;
		}

	.b-1 .context{
		z-index: 1000;
		position: absolute;
		width: 1080px;
	}

		.b-1 .context h2{
			font-style: italic;
			font-size: 48px;
			text-transform: uppercase;
			margin-top: 48px;
			margin-right: 15px;
			line-height: 65px;
			width: 799px;
			color: #4b95d0;
			text-align: right;
		}

		.b-1 .context .reg-head{
			width: 385px;
			margin-top: 30px;
			text-align: center;
			margin-right: 15px;
			border-radius: 17px 17px 0px 0px;
			background-color: #ec726b;
		}
	
			.b-1 .context .reg-head h3{
				font-family: "roboto-bold";
				font-style: italic;
				font-size: 20px;
				padding-top: 20px;
				margin-bottom: 9px;
				color: #fff;
			}
	
			.b-1 .context .reg-head p{
				font-size: 15px;
				line-height: 22px;
				text-align: center;
				width: 335px;
				margin-left: 30px;
				padding-bottom: 19px;
				color: #fff;
			}
	
		.b-1 .context .reg-form{
			border-radius: 0px 0px 17px 17px;
			width: 385px;
			margin-right: 15px;
			background-color: #88c6c8;
		}
	
			.b-1 .context .reg-form a{
				border: 3px solid #fff;
				margin-top: 10px;	
				color: #fff;
				margin-left: 7px;
				margin-bottom: 25px;
				padding-left: 98px;
				padding-right: 98px;
			}

			.b-1 .context .reg-form a:hover{
					border: 3px solid #f0837a;
					color: #f0837a;
			}

			.b-1 .context .reg-form a:active{
				margin-top: 12px;
				margin-bottom: 23px;
			}


	
			.b-1 .context .reg-form input[type="text"]{
				margin-left: 4px;
				border-radius: 14px;
				text-align: center;
				font-size: 20px;
				font-weight: 300;
				color: #2d2d2d;
				font-style: italic;
				background-color: #cfe8e9;
				width: 320px;
				height: 31px;
				padding: 5px;
				border: none;
				margin-bottom: 14px;
			}
	
			.b-1 .context .reg-form input[type="text"]:first-child{
				margin-top: 25px;
			}

		.b-1 .context .arrow{
  			position: absolute;
  			right: 374px;
  			top: 550px;
		}
		

.b-2{
	text-align: center;
}

	.b-2 h2{
		margin-top: 110px;
		margin-bottom: 40px;
		font-size: 44px;
		font-style: italic;
		font-weight: 500;
		color: #579cd3;
		text-transform: uppercase;
	}
	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}