
@font-face {
	font-family: 'PFL';
	src: url('../fonts/pdfintextcondpro-light-webfont.eot');
    src: url('../fonts/pdfintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pdfintextcondpro-light-webfont.woff') format('woff'),
         url('../fonts/pdfintextcondpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PFR';
	src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PFM';
	src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
	position: relative;
}
body {
	min-width: 1100px;
	text-align: center;
	font-family: 'PFL';
	overflow-x: hidden;
	color: #472275;
}
a{
	text-decoration: none;
	color: #472275;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	background-color: #FFCECE !important;
	box-shadow: 0 1px 2px rgba(180, 14, 14, 0.57);
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1080px;
	display: inline-block;

}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}

.b-0{
	position: relative;
}
	
	.b-0 .logo{
		float: left;
  		padding: 5px 5px 3px 10px;
	}

	.b-0 a{
		float: right;
		border: 3px solid #76d9dd;
		margin-top: 21px;	
		margin-right: -48px;	
		font-family: "Roboto";
		color: #4d4d4d;
	}

	.button{
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 500;
		border-radius: 45px;
		display: inline-block;		
		padding: 12px 47px 11px 45px;

	}

.b-1{
	position: relative;
	background-size: cover;
	min-height: 770px;
	background: url('../i/back-1.jpg') 50%;
}

	.b-1 .image{
		position: relative;
	}

		.b-1 .image .heart{
			position: absolute;
	  		left: 58px;
	  		top: 192px;
	  		z-index: 10;
		}

		.b-1 .image .blue-1{
			position: absolute;
  			left: -420px;
  			top: 406px;
  			z-index: 100;
		}

		.b-1 .image .yellow-1{
			position: absolute;
			top: 289px;
  			left: -419px;
  			z-index: 150;
		}

		.b-1 .image .red-1{
			position: absolute;
			z-index: 200;
			top: 401px;
  			left: -419px;
		}

		.b-1 .image .yellow-2{
			position: absolute;
			top: 5px;
  			left: 511px;
  			z-index: 20;
		}

		.b-1 .image .red-2{
			position: absolute;
			z-index: 30;
  			top: 228px;
  			left: 316px;
		}

		.b-1 .image .blue-2{
			position: absolute;
  			left: 432px;
  			top: 200px;
  			z-index: 25;
		}

.b-2{
	text-align: center;
}

	.b-2 h2{
		margin-top: 110px;
		margin-bottom: 40px;
		font-size: 44px;
		font-family: "Roboto";
		font-style: italic;
		font-weight: 500;
		color: #579cd3;
		text-transform: uppercase;
	}
	.b-2 p{
		width: 720px;
		font-family: "Roboto";
		margin-bottom: 85px;
		font-weight: 300;
		color: #1f1f1f;
		font-size: 27px;
		margin-left: 200px;
		line-height: 52px;
	}
	.b-2 h3{
		font-family: "Roboto";
		font-weight: 700;
		font-size: 30px;
		font-style: italic;
		text-transform: uppercase;
		margin-bottom: 135px;
		color: #494949;
	}
	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}