
@font-face {
	font-family: 'PFL';
	src: url('../fonts/pdfintextcondpro-light-webfont.eot');
    src: url('../fonts/pdfintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pdfintextcondpro-light-webfont.woff') format('woff'),
         url('../fonts/pdfintextcondpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PFR';
	src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PFM';
	src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
	position: relative;
}
body {
	min-width: 1100px;
	text-align: center;
	font-family: 'PFL';
	overflow-x: hidden;
	color: #472275;
}
a{
	text-decoration: none;
	color: #472275;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	background-color: #FFCECE !important;
	box-shadow: 0 1px 2px rgba(180, 14, 14, 0.57);
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1090px;
	display: inline-block;

}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}

.b-0{
	position: relative;
}
	
	.b-0 .logo{
  		padding: 5px 5px 3px 10px;
	}

	.b-0 a{
		border: 3px solid #76d9dd;
		margin-top: 21px;	
		font-family: "Roboto";
		color: #4d4d4d;
	}

	.button{
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 500;
		border-radius: 45px;
		display: inline-block;		
		padding: 12px 47px 11px 45px;

	}

.b-1{
	position: relative;
	background-size: cover;
	min-height: 770px;
	background: url('../i/back-1.jpg') 50%;
}

	.b-1 .image{
		position: relative;
	}

		.b-1 .image .heart{
			background-image: url("../i/heart.png");
			width: 421px;
			height: 395px;
			position: absolute;
	  		left: 58px;
	  		top: 202px;
	  		z-index: 10;
		}

			.b-1 .image .heart p{
				margin-top: 79px;
	  			margin-left: 49px;
				font-family: "Roboto";
				font-weight: 300;
				font-size: 17px;
				text-align: center;
				width: 330px;
				color: #ffffff;
				line-height: 31px;
			}
	
			.b-1 .image .heart span{
				font-weight: 500;
			}


		.b-1 .image .blue-left{
			background-image: url('../i/b-1/blue-1.png');
			width: 1212px;
			height: 154px;
			position: absolute;
  			left: -420px;
  			top: 416px;
  			z-index: 100;
		}

			.b-1 .image .blue-left h3{
				font-family: "Roboto";
				font-size: 28px;
				font-weight: 500;
				color: #fff;
				text-align: left;
				margin-top: 60px;
				margin-right: 280px;
				width: 490px;
			}

		.b-1 .image .yellow-left{
			background-image: url('../i/b-1/yellow-1.png');
			position: absolute;
			width: 437px;
			height: 468px;
			top: 289px;
  			left: -419px;
  			z-index: 150;
		}

		.b-1 .image .red-left{
			background-image: url('../i/b-1/red-1.png');
			position: absolute;
			width: 615px;
			height: 356px;
			z-index: 200;
			top: 400px;
  			left: -419px;
		}

		.b-1 .image .yellow-right{
			background-image: url('../i/b-1/yellow-2.png');
			position: absolute;
			width: 996px;
			height: 648px;
			top: 5px;
  			left: 511px;
  			z-index: 20;
		}

		.b-1 .image .red-right{
			background-image: url('../i/b-1/red-2.png');
			position: absolute;
			width: 1192px;
			height: 524px;
			z-index: 30;
  			top: 228px;
  			left: 316px;
		}

		.b-1 .image .blue-right{
			background-image: url('../i/b-1/blue-2.png');
			position: absolute;
			width: 1070px;
			height: 313px;
  			left: 432px;
  			top: 200px;
  			z-index: 25;
		}

	.b-1 .context{
		z-index: 1000;
		position: absolute;
		width: 1080px;
	}

		.b-1 .context h2{
			font-family: "Roboto";
			font-style: italic;
			font-weight: 500;
			font-size: 48px;
			text-transform: uppercase;
			margin-top: 48px;
			margin-right: 15px;
			line-height: 65px;
			width: 795px;
			color: #4b95d0;
			text-align: right;
		}

		

.b-2{
	text-align: center;
}

	.b-2 h2{
		margin-top: 110px;
		margin-bottom: 40px;
		font-size: 44px;
		font-family: "Roboto";
		font-style: italic;
		font-weight: 500;
		color: #579cd3;
		text-transform: uppercase;
	}
	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}